<label id="example-radio-group-label">Pick your channel</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="network">
  <mat-radio-button class="example-radio-button" *ngFor="let network of networks" [value]="network" >
    {{network}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite channel is: {{network}}</div>
